@model GardenBlog.Models.Category

@{
    ViewData["Title"] = "Details";

    Layout = "_layout";
}

    <div id="details">
        <h2>@Model.CategoryName Plants</h2>
        <hr />
    </div>
    <a href="/Post/Create/@Model.CategoryId" class="button">Write New Post For an @Model.CategoryName plant</a>

    <div id="index">
        @foreach (var post in Model.PostList)
        {
            <div>
                <h3>@post.Title</h3>
                <span>@post.Author.</span>
                <span>@post.TimeStamp</span>
                <p>@post.Body</p>
                <br />
            </div>
            
            <div class="multibutton">
                <div>
                    <a href="/Post/Edit/@post.PostId" class="button">Edit</a>
                </div>
                <div>
                    <a href="/Post/Delete/@post.PostId" class="button">Delete</a>
                </div>
                <br />
            </div>
        }
    </div>
    <div>
        <a href="/Category/Index" class="button">Back to Category Selection</a>
    </div>

