@model GardenBlog.Models.Category

@{
    ViewData["Title"] = "Details";

    Layout = "_layout";
}

    <div>
        <h4>@Model.CategoryName</h4>
        <hr />
    </div>
    <a href="/Post/Create/@Model.CategoryId" class="createblog">Write New Post For @Model.CategoryName</a>

    <div id="index">
        @foreach (var post in Model.PostList)
        {
            <div>
                <h3>@post.Title</h3>
                <span>@post.Author.</span>
                <span>@post.TimeStamp</span>
                <p>@post.Body</p>
                <br />
            </div>
        }
    </div>
    <div id="button">
        <a href="/Category/Index">Back to Category Selection</a>
    </div>

