@model GardenBlog.Models.Post
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Delete";

    Layout = "_layout";
}
@addTagHelper * ,Microsoft.AspNetCore.Mvc.TagHelpers


<h3>Are you sure you want to delete this blog?</h3>
<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <strong> @Html.DisplayNameFor(model => model.Title)</strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            <strong> @Html.DisplayNameFor(model => model.Body)</strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            <strong>  @Html.DisplayNameFor(model => model.Author)</strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            <strong>  @Html.DisplayNameFor(model => model.TimeStamp)</strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
        @*<dt>
                @Html.DisplayNameFor(model => model.PostTag)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PostTag.PostTagID)
            </dd>*@
    </dl>
    <div class="form-group">
        <input asp-for="PostId" type="hidden" value="@ViewBag.PostId" class="form-control" />
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PostId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
