@model IEnumerable<GardenBlog.Models.Post>
@{
    Layout = "_layout";
}

<div id="index">

    @foreach (var post in Model)
    {
        <div id="post">
            <h3>@post.Title</h3>
            <ul>
                <strong><li>@post.Category.CategoryName.</li></strong>
                <li>@post.Author.</li>
                <li>@post.TimeStamp</li>
            </ul>
            <p>@post.Body</p>
        </div>
    }

</div>

