@model IEnumerable<GardenBlog.Models.Post>
@{
    Layout = "_layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name=“viewport” content=“width =device-width” />
    <title>B&B Garden Blog</title>
</head>
<body>
    @foreach (var post in Model)
    {
    <div>
        <h3>@post.Title</h3>
        <span>@post.Author.</span>
        <span>@post.Category.</span>
        <span>@post.TimeStamp</span>
        <p>@post.Body</p>
    </div>
    }
</body>
</html>
