@model IEnumerable<GardenBlog.Models.Post>
@{
    Layout = "_layout";
}


    @foreach (var post in Model)
    {
<div id="index">
    <h3>@post.Title</h3>
    <span>@post.Category.</span>
    <span>@post.Author.</span>
    <span>@post.TimeStamp</span>
    <p>@post.Body</p>
</div>
    }
