@model IEnumerable<GardenBlog.Models.Post>
@{
    Layout = "_layout";
}

<div id="index">

    @foreach (var post in Model)
    {
            <h3>@post.Title</h3>
            <ul>
                <span>@post.Category.CategoryName.</span>
                <span>@post.Author.</span>
                <span>@post.TimeStamp</span>
            </ul>
            <p>@post.Body</p>
    }

</div>

